<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurants List</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/show.css">
</head>

<body>

  {{{ body }}}

  <script src="https://kit.fontawesome.com/a1a411409d.js" crossorigin="anonymous"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/jquery-3.6.0.js"></script>
  <script src="/javascripts/bootstrap.js"></script>

</body>

</html>